.rcard_container{

    width: 11rem;
    height: 9rem;
    padding: 5px;
    z-index: 2;
    margin-bottom: 5rem;
}

.img_section{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.place_message{
    padding: 15px 5px;
    font-weight: 600;
}

.time{
    color: white;
    position: absolute;
    font-size: 12px;
    bottom: 7rem;
    right: 45px;
    border: 5px solid white;
    background-color: #3a544f;
    padding: 2px 5px;
    border-radius: 20px;

}