body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-circularxx: CircularXX;
    --font-montserrat: Montserrat;
  
    /* font sizes */
    --font-size-5xl: 24px;
    --font-size-xs: 12px;
    --font-size-3xs: 10px;
    --font-size-sm: 14px;
  
    /* Colors */
    --color-gray: #232323;
    --color-silver-100: #c9c9c9;
    --lines: #b8b8b8;
  
    /* Gaps */
    --gap-base: 16px;
    --gap-xl: 20px;
    --gap-9xs: 4px;
    --gap-7xs: 6px;
  
    /* Paddings */
    --padding-xl: 20px;
    --padding-11xs: 2px;
    --padding-9xs: 4px;
    --padding-xs: 12px;
    --padding-10xs: 3px;
  
    /* Border radiuses */
    --br-base: 16px;
  }

  .static_container{
    overflow: hidden;
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .place_main_img{
    position: relative;
    width: 100%;
    height: 24rem;
    /* background-color: #232323; */
    
  }
  .img_container{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
  }
  .img_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .liked{
    position: absolute;
    bottom: 0;
    right: 10px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .coeurdes-alpes {
    margin: 0;
    position: relative;
    font-size: 28px;
    font-weight: 600;
    font-family: var(--font-montserrat);
    z-index: 1;
  }
  .static_details{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-gap-override: normal;
    /* line-height: 3px; */
  }

  .location{
    text-decoration: none;
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #176FF2;

  }

  .reviews {
    position: relative;
    display: inline-block;
    min-width: 94px;
  }

  .aspen-is-as {
    margin: 0;
    align-self: stretch;
    height: 68px;
    font-size: inherit;
    line-height: 16.8px;
    font-weight: 400;
    font-family: inherit;
    min-height: 68px;
  }

  .readmore{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px;
    font-size: 18px;
    color: #176FF2;
  }

  .facilities_container h2{
    margin: 1rem 0;
    font-size: 25px;
  }
  .facilities{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;


  }
  .facility{
    color: #b8b8b8;
    background: linear-gradient(-89.23deg, rgba(23, 111, 242, 0.05),rgba(25, 110, 238, 0.05));
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
  